* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(227, 75%, 14%);
  color: white;
  padding: 15px;
  font-family: 'Noto Sans', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: white; */
  border-radius: 10px;
  padding: 10px;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.3); /* transparent white */
  backdrop-filter: blur(12px); /* glass blur */
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  color: #fff;
}

.light-mode-switch {
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-center: center;
  align-item: center;
}

.glass-effect__light-mode-switch {
  background: rgba(255, 255, 255, 0.01); /* transparent white */
  backdrop-filter: blur(12px); /* glass blur */
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.status-bar-item {
  padding: 10px 20px;
  border-radius: 20px;
}

.card {
  border-radius: 15px;
}

.card-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

@media (min-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  body {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 49%;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 32%;
  }
}
